---
layout: base
title: Home
---
<section id="main" class="wrapper">
  <header>
    <h2>HOME</h2>
    <p>go on writing, record the life, the happiness and the love.</p>
  </header>
</section>

{% for post in site.posts %}
  <section class="wrapper article style1">
    <div class="inner">
      <div class="content">
        <h3><a href="{{ site.baseurl }}{{ post.url | replace_first: '/' }}">{{ post.title }}</a></h3>
        <span>{{ post.date | date: "%b %-d, %Y" }}</span>
          {% for tagitem in post.tags %}
            &nbsp;<a href="{{ site.baseurl }}tags/#{{ tagitem }}" >{{ tagitem }}</a>
          {% endfor %}
        <p>{{ post.excerpt }}</p>
        <a class="button small" href="{{ site.baseurl }}{{ post.url | replace_first: '/' }}">Learn more &gt;&gt;</a>
      </div>
    </div>
  </section>
{% endfor %}