<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
  <script src="{{ " /js/jquery.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ " /js/jquery.scrollex.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ " /js/skel.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ " /js/util.js" | prepend: site.baseurl }}"></script>

  <!-- Open Graph (Facebook, Linkedin) -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="노력으로 발전하는 개발자" />
  <meta property="og:description" content="박청경. Bak Cheong-Kyung" />
  <meta property="og:image" content="{{ site.url }}/images/open-graph_L.png" />
  <meta property="og:url" content="{{ site.url }}" />

  <!-- Open Graph (Twitter) -->
  <!-- card종류, summary, photo, player -->
  <meta name="twitter:card" content="Summary" />
  <meta name="twitter:title" content="노력으로 발전하는 개발자" />
  <meta name="twitter:description" content="박청경. Bak Cheong-Kyung" />
  <meta name="twitter:image" content="{{ site.url }}/images/open-graph_S.png" />
  <meta name="twitter:url" content="{{ site.url }}" />

  <!--[if lte IE 8]><script src="{{ "/js/html5shiv.js" | prepend: site.baseurl }}"></script><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ "/css/ie9.css" | prepend: site.baseurl }}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ "/css/ie8.css" | prepend: site.baseurl }}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="./css/ie8.css" /><![endif]-->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - {% if site.description %}{{
    site.description }}{% endif %}</title>
  <link rel="stylesheet" href="{{ " /css/main.css" | prepend: site.baseurl }}">
  {% if site.theme_color == 'red' %}
  <link rel="stylesheet" href="{{ " /css/r.css" | prepend: site.baseurl }}">
  {% elsif site.theme_color == 'green' %}
  <link rel="stylesheet" href="{{ " /css/g.css" | prepend: site.baseurl }}">
  {% else %}
  <link rel="stylesheet" href="{{ " /css/b.css" | prepend: site.baseurl }}">
  {% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!-- favicon -->
  <link rel="shortcut icon" type="icon" href="/images/open-graph_S.ico">
</head>