---
layout: base
---

<section id="main" class="wrapper">
  <header>
    <h2>{{page.title}}</h2>
  </header>
  <div class="inner">
    <h2>All portfolios:</h2>
    <ul class="actions small">
      {% for portfolio in site.portfolios %}
      <li><a class="button small" href="#{{portfolio[0]}}">{{ portfolio[0] }}</a></li>
      {% endfor %}
    </ul>
    <hr>
    {% for portfolio in site.portfolios %}
    <h3 id="{{ portfolio[0] }}">{{ portfolio[0] }}</h3>
    <ol>
      {% for post in site.posts %}
      {% if post.portfolios contains portfolio[0] %}
      <li><a href="{{ site.baseurl }}{{ post.url | replace_first: '/' }}">{{ post.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ol>
    {% endfor %}
  </div>
</section>

<!--catitem => category change -->