--- 
layout: base 
---
<section id="main" class="wrapper">
    <header>
        <h2>{{page.title}}</h2>
        <p>
        {{ page.date | date: "%b %-d, %Y" }}
        {% if page.author %} 
          • {{ page.author }}
        {% endif %}
        {% if page.meta %}
          • {{ page.meta }}
        {% endif %}
        •  
          {% for tagitem in page.tags %}
            &nbsp;<a href="{{site.baseurl}}tags/#{{tagitem}}" >{{tagitem}}</a>
          {% endfor %}
        </p>
    </header>
    <div class="inner">
        {{ content }}
        <div id="disqus_thread"></div>
    </div>
</section>
{% if page.coments != false %}{% include disqus.html %}{% endif %}
